<div class="row">&nbsp;</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h1 class="docs-title" id="content">Dashboard</h1>
          <p class="docs-lead">Learn how to use included npm scripts to compile source code, run tests, and more.</p>
          <div class="sharethis-inline-share-buttons my-3"></div>
          <h2 id="tooling-setup">Tooling setup</h2>
          <p>Our package.json includes convenient methods for working with the framework, including compiling code, and more.</p>
          <p>To use our build system you will have to install following components in your environment.</p>
          <ol>
            <li>Node.js: <a href="https://nodejs.org/en/">https://nodejs.org/en/</a></li>
            <li>npm: <a href="https://npmjs.com">https://npmjs.com</a></li>
            <li>Gulp: <a href="http://gulpjs.com">http://gulpjs.com</a></li>
          </ol>
          <h3 id="installing-nodejs-and-updating-npm">Installing Node.js and updating npm</h3>
          <div class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/wREima9e6vk 100% " frameborder="0" allowfullscreen=""></iframe></div>
          <h4 id="installing-nodejs">Installing Node.js</h4>
          <p>If you’re using OS X or Windows, the best way to install Node.js is to use one of the installers from the <a href="https://nodejs.org/en/download/">Node.js download page</a>. If you’re using Linux, you can use the installer, or you can check <a href="https://github.com/nodesource/distributions">NodeSource’s binary distributions</a> to see whether or not there’s a more recent version that works with your system.</p>
          <p><strong>Test:</strong></p>
          <figure class="highlight"><pre><code class="language-sh" data-lang="sh">node <span class="nt">-v</span></code></pre></figure>
          <p>The version should be higher than v8.0.0.</p>
          <h4 id="updating-npm">Updating npm</h4>
          <p>Node comes with npm installed so you should have a version of npm. However, npm gets updated more frequently than Node does, so you’ll want to make sure it’s the latest version.</p>
          <figure class="highlight"><pre><code class="language-sh" data-lang="sh">npm <span class="nb">install </span><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5e302e331e323f2a3b2d2a">[email&#160;protected]</a> <span class="nt">-g</span></code></pre></figure>
          <p><strong>Test:</strong></p>
          <figure class="highlight"><pre><code class="language-sh" data-lang="sh">npm <span class="nt">-v</span></code></pre></figure>
          <h3 id="installing-project-dependencies">Installing project dependencies</h3>
          <figure class="highlight"><pre><code class="language-sh" data-lang="sh">npm <span class="nb">install</span></code></pre></figure>
          <h2 id="using-npm-scripts">Using NPM scripts</h2>
          <p>Our <a href="https://github.com/twbs/bootstrap/blob/v2.0.1/package.json">package.json</a> includes the following commands and tasks:</p>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Task</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><code class="highlighter-rouge">npm run build</code></td>
              <td>It creates the <code class="highlighter-rouge">/dist</code> directory with compiled files. <strong>Uses <a href="http://sass-lang.com/">Sass</a>, [Autoprefixer][autoprefixer], and <a href="https://github.com/mishoo/UglifyJS2">UglifyJS</a>.</strong></td>
            </tr>
            <tr>
              <td><code class="highlighter-rouge">npm run serve</code></td>
              <td>It will start a mini-server and provide a URL to view your site.</td>
            </tr>
            </tbody>
          </table>
          <p>Run <code class="highlighter-rouge">npm run</code> to see all the npm scripts.</p>
          <h2 id="troubleshooting">Troubleshooting</h2>
          <p>Should you encounter problems with installing dependencies, uninstall all previous dependency versions (global and local). Then, rerun <code class="highlighter-rouge">npm install</code>.</p>
        </div>
      </div>
    </div>

  </div>
</div>